.list {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-container {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */

}

.logo-element{
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
}

.link-element{
    width: 100%;
}

.spacer{
    width: 10%;
}

.text::before {
    left: 30%;
    bottom: 0;
    transform-origin: bottom right;
}

.text::after {
    right: 30%;
    bottom: 0;
    transform-origin: bottom left;
}

.text:hover::before,
.text:hover::after {
    width: 70%; /* Width of the growing underline on hover */
}


