:root {
    /* Light mode */
    --light-switch-shadow: #2d1d31;
    --light-switch-icon: "🌙";
    --light-text: #353538;
    --light-text-2: #000000;
    --light-bg: #d1d1d1;
    --light-bg-2: #ffffff;
    --light-theme: #b3b3b3;

    /* Dark mode */
    --dark-switch-shadow: #d7874c;
    --dark-switch-icon: "💡";
    --dark-text: #bebdbd;
    --dark-text-2: #ffffff;
    --dark-bg: #010409;
    --dark-bg-2: #0D1117;
    --dark-theme: #21262D;

    /* Default mode */
    --switch-shadow-color: var(--dark-switch-shadow);
    --switch-icon: var(--dark-switch-icon);
    --text-color: var(--dark-text);
    --text-color-2: var(--dark-text-2);
    --bg-color: var(--dark-bg);
    --bg-color-2: var(--dark-bg-2);
    --theme-color: var(--dark-theme);
}

/* Switched mode */
.theme-switch:checked ~ #page {
    --switch-shadow-color: var(--light-switch-shadow);
    --switch-icon: var(--light-switch-icon);
    --text-color: var(--light-text);
    --text-color-2: var(--light-text-2);
    --bg-color: var(--light-bg);
    --bg-color-2: var(--light-bg-2);
    --theme-color: var(--light-theme);
}

/* Theme switcher */
.theme-switch { /* Hides the checkbox */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
    cursor: pointer;
    display: flex;
}

.switch-label::before {
    content: var(--switch-icon);
    font-size: 30px;
    transition: text-shadow .5s;
}

.switch-label::after {
    align-self: center;
    color: var(--switch-shadow-color);
    font-size: 28px;
    line-height: 40px;
    opacity: 0;
    padding-left: 15px;
    transition: opacity .5s;
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
    text-shadow: 0 0 15px var(--switch-shadow-color);
}

.theme-switch:focus ~ #page .switch-label::after,
.switch-label:hover::after {
    opacity: 1;
}

/* Styling */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*#page {*/
/*    background: var(--bg-color);*/
/*    color: var(--text-color);*/
/*    transition: color .5s, background-color .5s;*/
/*}*/

.bar {
    width: 100%; /* Set the width to 100% to make it span the entire container */
    height: 2px; /* Set the height of the bar */
    background-color: var(--theme-color); /* Black background color for the bar */
}

.header {
    min-height: 7vh;
    color: var(--text-color);
    background: var(--bg-color);
    width: 100%;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color .2s, background-color .2s;
}

.main {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--bg-color-2);
    width: 100%;
    font-size: 10pt;
    transition: color .2s, background-color .2s;
}

.icon-a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.5s ease;
}

.icon-a:hover {
    color: var(--text-color-2);
}

.text{
    text-decoration: none;
    position: relative;
    font-weight: 400;
    color: var(--text-color);
    font-size: 15pt;
    transition: color 0.5s ease;
}

.text:hover {
    color: var(--text-color-2);
}

.text::before,
.text::after {
    content: '';
    position: absolute;
    height: 2px; /* Initial height of the underline */
    width: 0;
    background-color: var(--text-color-2); /* Underline color */
    transition: width 0.5s ease-out; /* Transition property for width with a duration of 0.3 seconds and ease-out timing function */
}
